* {
  box-sizing: border-box;
}



body {
  background:url("background.svg"),radial-gradient(200px 500px at center, #afaba7 0%, rgba(0, 0, 0, 0) 50%);
  background-attachment: fixed;
  animation: animation 10s linear infinite;
  margin: 0;
}
@keyframes animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


h1,h2,h3,h4 {
  margin: 0;
}


h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
  padding: 2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}


header, footer {
  background-color: #2c3e50;
  color: #FFF;
}
#headerPage, #footerPage {
  background-color: #c0392b;
}
header {
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

footer h2 {

}

footer a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  transition: all 1s ease;
}
footer a:hover{
  color: #1abc9c;
  transition: all 1s ease;
}

#content {
  padding: 2rem 0;
  text-align: center;
}

#big-video iframe{
  margin: 0 auto;
  display: block;
}
