// out: ../css/style.min.css, sourcemap: true, compress: true


// --------------------  MY COLOR'S THEME

@rouge : #c0392b;
@gris : #ecf0f1;


// --------------------  CONTENT

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

body {
  padding-top: 64px;
}

#entete {
  background-image: url(../images/bkg-header.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  h1 {
    margin: 0;
    padding: 5rem 0;
    color: #FFF;

    i {
      font-size: 3rem;
    }
  }
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: @rouge;

  ul {
    li {
      transform: skewX(-10deg);
      a {
        padding: 0 30px;
        transform: skewX(10deg);
        font-weight: bold;
        opacity: 0.8;

        &:hover {
          opacity: 1;
          background-color: initial;
        }
      }

      &.active {
        a {
          opacity: 1;
        }
      }
    }
  }
}

#slide-out {
  background-color: @rouge;

  li {
    a {
      color: #FFF;
    }
  }
}

#content {
  padding: 2rem 0;
  min-height: 600px;

  .content-article {

    .video {
      iframe {
        max-width: 100%;
      }
    }
  }

  .indicators {
    z-index: 100;
    .indicator-item {
      height: 20px;
      width: 20px;
      margin: 24px 10px;
      background-color: #e74c3c;
      &.active {
        background-color: #000;
      }
    }
  }
}


footer {
  padding: 3rem 0;
  text-align: center;
  background-color: @rouge;

  .logo-footer {
    a {
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      color: #FFF;
      font-size: 3rem;
      text-transform: uppercase;
    }
  }
}



@media screen and (max-width: 992px) {
  body {
    overflow: auto !important;
  }

  #content {
    min-height: 800px;
  }
}
